* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.example-of-organizing {
  /* Positioning Block */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Structure Block */
  display: flex;
  width: 100%;
  background: darkgreen;
  border: 1px solid #fff;

  /* Typography Block */
  font-size: 16px;
  line-height: 22px;
  color: #fff;

  /* Modifier Block */
  transition: all ease-in 250ms;
  transform: scale(1.1);
  z-index: 42;
}

body {
  background-color: lightblue;
}

/* *********** GRID SYTLING *********** */
.grid {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
  margin: 10px;
}

.grid-square {
  background-color: red;
  border: 1px solid black;
}
/* *********** GRID SYTLING END *********** */
