:root {
  --main-white: #d5dceb;
  --button-color-2: var(--main-white);
  --main-red: #d33f49;
  --main-button-color: var(--main-red);
  --main-black: #101419;
  --main-black-blue: #232c36;
  --main-blue: #476c9b;
  --main-teal: #468c98;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.example-of-organizing {
  /* Positioning Block */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Structure Block */
  display: flex;
  width: 100%;
  background: darkgreen;
  border: 1px solid #fff;

  /* Typography Block */
  font-size: 16px;
  line-height: 22px;
  color: #fff;

  /* Modifier Block */
  transition: all ease-in 250ms;
  transform: scale(1.1);
  z-index: 42;
}

body {
  display: flex;
  justify-content: center;

  text-shadow: 0 0 1px var(--main-white);
  background-color: var(--main-teal);

  font-family: 'Anton', sans-serif;
}

button {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

button {
  padding: 0 4px;
  font-size: larger;
  font-weight: bold;
  transition: 0.2s ease;
  border-radius: 100px;

  background-color: var(--button-color-2);
  border: 5px solid var(--main-button-color);
}

button:hover {
  color: var(--main-button-color);
  transform: scale(1.1);

  color: var(--button-color-2);
  background-color: var(--main-button-color);
}

button:active {
  transform: scale(1);
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

h3 {
  margin-bottom: -5px;
}

#start-game-button {
  margin: 10px 0;
}

#containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 300px; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 300px; */
}

/* *********** DRAG WINDOW *********** */
#ship-holder {
  /* width: 200px; */
  /* height: 120px; */
  /* background-color: blue; */
  margin: 10px;

  display: flex;

  align-items: flex-start;
}

#ship-holder div div {
  width: 20px;
  height: 20px;
  background-color: var(--main-black);
  border: 1px solid var(--main-teal);

  display: block;
}

#ship-holder > div {
  margin: 3px;
}

.destroyer-container {
  display: flex;
  /* width: 40px; */
}
.submarine-container {
  display: flex;
  /* width: 60px; */
}
.cruiser-container {
  display: flex;
  /* width: 60px; */
}
.battleship-container {
  display: flex;
  /* width: 80px; */
}
.carrier-container {
  display: flex;
  /* width: 100px; */
}
.ship-holder-square {
}

.soft-hidden {
  visibility: hidden;
}

.ship-holder-verticals {
  flex-direction: row;
}
.ship-holder-horizontals {
  flex-direction: column;
}

.ship-is-vertical {
  flex-direction: column;
}
/* *********** DRAG WINDOW END *********** */

/* *********** GRID SYTLING *********** */
.grid {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
  margin: 10px;
}

.grid-square {
  /* background-color: rgb(207, 234, 235);
  border: 1px solid black; */
  /* background-color: var(--main-white); */
  background-color: var(--main-blue);
  /* border: 1px solid var(--main-white); */
  border: 1px solid var(--main-black-blue);
  /* border: 1px solid var(--main-black); */
}

.ship {
  /* background-color: rgb(52, 63, 63); */
  background-color: var(--main-black);
}

.hit {
  /* background-color: rgb(196, 26, 26); */
  background-color: var(--main-red);
}

.miss {
  /* background-color: rgb(65, 163, 243); */
  background-color: var(--main-white);
}

.mask {
  /* background-color: rgb(207, 234, 235); */
  background-color: var(--main-blue);
}
/* *********** GRID SYTLING END *********** */

.hidden {
  display: none;
  /* visibility: hidden; */
}

/* Desktop Layout Below */
@media only screen and (min-width: 600px) {
  #containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* align-items: center;
    width: 300px; */
  }

  button {
    width: 150px;
  }
  /* #rotate-container {
    width: 130px;
  } */
}
/* Desktop Layout End */
