* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.example-of-organizing {
  /* Positioning Block */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Structure Block */
  display: flex;
  width: 100%;
  background: darkgreen;
  border: 1px solid #fff;

  /* Typography Block */
  font-size: 16px;
  line-height: 22px;
  color: #fff;

  /* Modifier Block */
  transition: all ease-in 250ms;
  transform: scale(1.1);
  z-index: 42;
}

body {
  background-color: rgb(138, 168, 180);
}

/* *********** DRAG WINDOW *********** */
#ship-holder {
  width: 200px;
  height: 200px;
  /* background-color: blue; */
  margin: 10px;

  display: flex;

  align-items: flex-start;
}

#ship-holder div div {
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  border: 1px solid black;

  display: block;
}

#ship-holder > div {
  margin: 3px;
}

.destroyer-container {
  display: flex;
  /* width: 40px; */
}
.submarine-container {
  display: flex;
  /* width: 60px; */
}
.cruiser-container {
  display: flex;
  /* width: 60px; */
}
.battleship-container {
  display: flex;
  /* width: 80px; */
}
.carrier-container {
  display: flex;
  /* width: 100px; */
}
.ship-holder-square {
}

.hidden {
  display: none;
  /* visibility: hidden; */
}

.ship-holder-verticals {
  flex-direction: row;
}
.ship-holder-horizontals {
  flex-direction: column;
}

.ship-is-vertical {
  flex-direction: column;
}
/* *********** DRAG WINDOW END *********** */

/* *********** GRID SYTLING *********** */
.grid {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
  margin: 10px;
}

.grid-square {
  background-color: rgb(207, 234, 235);
  border: 1px solid black;
}

.ship {
  background-color: rgb(52, 63, 63);
}

.hit {
  background-color: rgb(196, 26, 26);
}

.miss {
  background-color: rgb(65, 163, 243);
}

.mask {
  background-color: rgb(207, 234, 235);
}
/* *********** GRID SYTLING END *********** */
